@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h3 class="card-title text-left mb-3">Forget Password</h3>
<form>
    <div class="form-group">
        <label>email</label>
        <input type="text" class="form-control ">
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary btn-block enter-btn">Send Link</button>
    </div>
    <a asp-controller="Admin" asp-action="Index">Go To DAshboard for test</a>

</form>

